<div id="container">
	{% for result in results %}{% set A_list_loop = loop %}
			{% for photo in photos %}
				{% if loop.index==A_list_loop.index %}
					<div class="grid">
						<a href="{{url_for('detail',id=result['place_id'],p_ref=p_values[loop.index-1])}}">
							<div class="imgholder">
								<img class="index_image_index" src="{{photo}}" >
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
	{% endfor %}
</div>

<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>